@using Okta.IdentityEngine
@using Okta.IdentityEngine.Client
@using Okta.IdentityEngine.Ion

@model  Okta.IdentityEngine.Client.IdentityState
@{
    ViewData["Title"] = "Sign In";
}

<div>
    <h1 class="display-4">Sign In</h1>

    <h2>Remediation Info</h2>
    @foreach(Remediation remediation in Model.Remediations)
    {
        <div style="border: 1px dashed black; margin-bottom: 10px; padding: 10px;">
            <h3>Remediation Name: @remediation.Name</h3>
            <div>Href: @remediation.Href</div>
            <div>Form Href: @remediation.Form.Href</div>
            <div>Form Method: @remediation.Form.Method</div>
            <div style="margin-left: 50px">
                rel:
                <div style="margin-left: 10px">
                @foreach(string rel in remediation.Form.RelationTypes)
                {
                    @rel    
                }
                </div>
            </div>
            <hr />
            <div style="margin-left: 50px;">
                <h4>Remediation Form Fields</h4>
                @foreach(IonFormField formField in remediation.Form.Fields)
                {
                    <div>Form Field Name: @formField.Name</div>
                    <div>Label: @formField.Label</div>
                    <div>Type: @formField.TypeString</div>
                    <div>String Value: @formField.ValueString</div>
                    <div>Object Value: @formField.Value</div>
                    <div>Is Required: @formField.Required</div>
                    <div>Is Secret: @formField.Secret</div>
                    <hr />
                }
        </div>
        </div> 
    }

    
</div>
